<!DOCTYPE html>
html
  head
    title SS Dance Academy
    block style

  body
    nav#navbar
            div.logo
                h1 SS Dance Academy
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Sponsor]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]

    section#introSection
        h1 Welcome to SS Dance Academy
        p Eat Sleep Dance Repeat
        button.join Join Now
        
    block content
    
    footer
        p.text-center All rights reserved to SS Dance Academy.     