<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SS Dance Academy
        style
            include ../static/css/style.css
    body
        nav#navbar
            div.logo
                h1 SS Dance Academy
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Sponsor]
                li #[a(href="/") Class Info]
                li #[a(href="/") Contact Us]

        section#introSection
            h1 Welcome to SS Dance Academy
            p Eat Sleep Dance Repeat
            button.join Join Now
        
        section#Services
            h2.text-center Our Services
            div.Our-Services
                div.card
                    img(src="../img/Bharatnatyam.jpg", alt="")
                    h3.text-center Bharatnatyam
                div.card
                    img(src="../img/Kathak.jpg", alt="")
                    h3.text-center Kathak
                div.card
                    img(src="../img/Kathakali.jpg", alt="")
                    h3.text-center Kathakali
                div.card
                    img(src="../img/Kuchipudi.jpg", alt="")
                    h3.text-center Kuchipudi
                div.card
                    img(src="../img/Manipuri.jpg", alt="")
                    h3.text-center Manipuri
                div.card
                    img(src="../img/Mohiniyattam.png", alt="")
                    h3.text-center Mohiniyattam
                div.card
                    img(src="../img/Odissi.jpg", alt="")
                    h3.text-center Odissi
                div.card
                    img(src="../img/Sattriya Dance.jpg", alt="") 
                    h3.text-center Sattriya                           

        section#sponsorsSection
            h2.text-center Our Sponsor
            div.Our-Sponsor
                div.box
                    img(src="../img/facebook logo.webp", alt="")
                div.box
                    img(src="../img/hp logo.webp", alt="")
                div.box
                    img(src="../img/applelogo.webp", alt="")
                div.box
                    img(src="../img/microsoft logo.png", alt="")  

        footer
            p.text-center All rights reserved to SS Dance Academy.                      